header {
  position: relative;
  width: 100%;
  animation: header-fade 300ms 1;
  @media  (min-width: 40em) {
    padding: 100px;
  }
  padding: 40px 20px;
  margin: 0;

  
  .logo {
    padding: 0;
    margin: 0;
    display: block;
    z-index: 1;

    a {
      font-size: 16px;
      line-height: 24px;
      color: $blue;
      text-decoration: none;
      font-weight: 600;
      @media  (min-width: 40em) {
        font-size: 24px;
        line-height: 24px;
      }
      @media  (min-width: 40em) {
        &:hover {
            color: $white;
            box-shadow: 0em -1em 0 0 $black inset;
        }
      }
      &:active {
          color: $white;
          box-shadow: 0em -1em 0 0 $blue inset;
      }
    }

  }
  ul {
    text-align: right;
    margin: 0;
    padding: 0;
 
    li {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      padding: 0;
      margin: 0 0 0 40px;
      @media  (min-width: 40em) {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

@keyframes header-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}