body {
    opacity: 1;
    background-color: $black;
    min-height: 660px;
}

.border {
    box-shadow: 0 0 0 0px $black inset, 0 0 0 -15px $black inset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: .8;
}

body.home-page {
    opacity: 1;
}

body.work-page {
    opacity: 1;
}


.container {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

}

#main-container {
  
  transition: padding-left 300ms ease-in-out;
  
  
}

.page-container {
  
  transition: opacity 400ms linear;    
  opacity: 0; 
  
  &.loaded {
    opacity: 1;
  }
}











@include r(block) {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}



@include r(hide) {
  display: none;
}

@include r(show) {
  display: block;
}

.mobile-hide {
  @media  (max-width: 40em) {
    display: none;
  }
}

.mobile-show {
  @media  (min-width: 40em) {
    display: none;
  }
}

.align-middle {
  vertical-align: middle;
}

@include r(float-right) {
  float: right;
}

.float-left {
  float: left;
}

.min-viewport-height {
  min-height: 100vh;
}

.clearfix {
  *zoom: 1;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.scrollpad {
  height: 80vh;
  background-color: red;
}

.trigger {
  height: 50vh;
  background-color: green;
  &.active {
    background-color: blue;
  }
}