

.home-container {
  position: relative;
  padding-top: 110px;
  

  @media  (min-width: 40em) {
    background-image: none;
    padding-top: 0; 
  }
}



  
  .hero-image {
      display: none;
      position: relative;
      right: auto;
      top: auto;
      width: 100%;
      background-size: cover;
      height: 41vw;
      background-image: linear-gradient(to right, rgba(55,201,245,1) 0%, rgba(55,201,245,1) 100%), url(https://cl.ly/0y2m3y0I3y1O/wave.jpg);
      background-repeat: no-repeat;
      background-position: left bottom, left top;
      background-color: #37CAF5;
      max-width: 100%;
      transition: all 200ms ease-out;
      
      @media  (min-width: 40em) {
        display: block;
        right: 400px;
        position: absolute;
        top: -140px;
        background-size: 100% 100%, 55vw auto;
        width: calc(55vw - 300px);
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: -400px;
          width: 400px;
          height: 100%;
          background-image: linear-gradient(to right, rgba(55,231,245,1) 0%, rgba(55,231,245,1) 100%), url(https://cl.ly/0y2m3y0I3y1O/wave.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%, 55vw auto;
          background-color: #3462AE;
          background-position: right top, right top;
          transition: all 200ms ease-out;
          transform: translateY(-200px);
          z-index: -1;
        }
      }
  }

  .loaded  .home-container .hero-image {
    top: -200px;
    
    &:after {
      transform: translateY(100px) translateX(0px);
    }
    
  }

  .loaded-text  .home-container .hero-image {
    background-image: linear-gradient(to right, rgba(55,201,245,1) 100%, rgba(55,201,245,1) 100%), url(https://cl.ly/0y2m3y0I3y1O/wave.jpg);
    background-size: 100% 0px, 55vw auto;
    
    &:after {
      background-image: linear-gradient(to right, rgba(55,201,245,1) 100%, rgba(55,201,245,1) 100%), url(https://cl.ly/0y2m3y0I3y1O/wave.jpg);
      background-size: 100% 0px, 55vw auto;
    }
  }

  .about {
    margin: 0;
    display: block;
    padding: 0;
    position: static;
    background-color: #F5C7CA;
    padding: 0;
    box-shadow: 0 200px 0 0 #F5C7CA;
    width: 100%;
    box-sizing: border-box;

    .about-copy {
      box-sizing: border-box;
      padding: 40px;
      p {
        font-size: 26px;
        line-height: 36px;
        font-weight: 200;
        padding: 0;
        margin: 0;
        opacity: .6;
      
        &:first-child {
          margin-bottom: 20px;
        }

      }
      a {
        font-size: 26px;
      }
    }
    @media  (min-width: 40em) {
      margin-top: 180px;
      width: calc(100% - 400px);
      min-height: calc(100vh - 360px);
      padding: 0 120px;
      .about-copy {
        padding-top: 220px;
        padding-right: 0px;
        padding-left: 0;
      }
    }
    

  
  }
.hero-text {
    z-index: 99;
    
    @media  (min-width: 40em) {
      left: 100px;
      position: absolute;
    }
    
}

  h2.intro {
      font-size: 12vw;
      line-height: .9em;
      margin: 0;
      color: #fff;
      letter-spacing: -1.5px;
      position: relative;
      text-align: left;
      padding: 0 40px 40px 40px;
      
      @media  (min-width: 40em) {
        font-size: 7vw;
        margin-left: 0px;
        text-align: left;
        padding: 0;
        span {
          -webkit-clip-path: polygon(0 1.4em, 100% 1.4em, 100% 100%, 0% 100%);
          clip-path: polygon(0 1.4em, 100% 1.4em, 100% 100%, 0% 100%);
          display: inherit;
          position: relative;
          top: -1.4em;
          left: -30px;
          padding-bottom: 20px;
          transition: all 200ms ease-in-out;
          opacity: 0;
        }
        &:before {
          content: "Greg Corby is a \A  sun-drenched,";
          position: absolute;
          top: -1.4em;
          width: 100%;
          height: 100%;
          color: #fff;
          z-index: -1;
          left: 40px;
          transition: all 200ms ease-in-out;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 1.4em, 0 1.4em);
          clip-path: polygon(0 0, 100% 0, 100% 1.4em, 0 1.4em);
          opacity: 0;
        }
        
      }
      

  }

  

  .divider {
    width: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: $blue;
    display: none;
  }


@media  (min-width: 40em) {
  .loaded-text .home-container h2.intro:before {
    left: 0px;
    opacity: 1;
  }

  .loaded-text .home-container h2.intro span {
    left: -3px;
    opacity: 1;
  }

  
  
}



@keyframes water {
  0% {
    background-position: 0px 10px; 
  }
  50% {
    background-position: 35px 15px;
  } 
  100% {
    background-position: 70px 10px;
  }
}

@keyframes water-mobile {
  0% {
    background-position: 0px 5px; 
  }
  50% {
    background-position: 25px 10px;
  } 
  100% {
    background-position: 50px 5px;
  }
}


@keyframes pulse {
  0% {
    left: 3px;
    color: #fff;
    opacity: 1;
    
  }
  2% {
    left: 3px;
    color: #F6C7CA;
    opacity: 1;
  }
  3% {
    color: #fff;
    opacity: .5;
    left: -10px;
    
  }
  4% {
    left: -3px;
    opacity: 1;
    color: #fff;
  }
  5% {
    color: #fff;
  }

  100% {
    left: -3px;
    
  }
}