.home-page {
  header {
      height: 100px;
      position: static;
      
    @media  (min-width: 40em) {
      height: 380px;

    }
  }
}

.home-container {
  position: relative;
  padding-top: 50px;
  

  @media  (min-width: 40em) {
    background-image: none;
    padding-top: 0; 

  }

}




  .hero-image-container {
      display: none;
      height: 40vw;
      
      vertical-align: top;
      position: relative;
      width: 55%;
      margin-top: -200px;
      .img-left {
          display: block;
          vertical-align: top;
          width: 35vw;
          height: 38vw;
          background-image: url(https://cl.ly/27151p0M300x/wave.jpg);
          background-color: #303F51;
          background-repeat: no-repeat;
          background-position: right -50px;
          background-size: 55vw auto;
          vertical-align: top;
          transition: all 200ms ease-in-out;
          transform: translateY(-20px);
          box-shadow: 0 0vw 0 0 #303F51 inset;
          &:after {
            
            background-image: url(https://cl.ly/27151p0M300x/wave.jpg);
            background-color: #303F51;
            background-repeat: no-repeat;
            background-position: right -50px;
            background-size: 55vw auto;
            position: absolute;
            width: 100%;
            height: 200px;
            top: 0;
            left: -60px;
            box-shadow: 60px 0 0 0 #303F51;
            
            ; 
          }
        } 

      .img-right {
        display: none;
        vertical-align: top;
        width: 20vw;
        height: 30vw;
        background-image:  linear-gradient(to bottom, rgba(25,42,61,0) 50%, rgba(25,42,61,1) 90%), url(https://cl.ly/27151p0M300x/wave.jpg);
        background-color: #2E4B71;
        background-repeat: no-repeat;
        background-size: 100% 500%, 60vw auto;
        background-position: right bottom, right -5vw;
        z-index: -1;
        vertical-align: top;
        transform: translateY(200px);
        transition: all 200ms ease-in-out;
        opacity: 1;
        
      }
    }


  .loaded  .home-container .hero-image-container {
      .img-left {
        transform: translateY(0px);
      }
      .img-right {
        transform: translateY(40px);
        background-image:  linear-gradient(to bottom, rgba(25,42,61,0) 50%, rgba(25,42,61,1) 90%), url(https://cl.ly/27151p0M300x/wave.jpg);
        background-size: 100% 100%, 60vw auto;
      }
  }
  @media  (min-width: 40em) {
    .hero-image-container {
      display: inline-block;
      .img-left {
        display: inline-block;
      }
      .img-right {
        display: inline-block;
      }
    }
    
  }
    

  .about {
    font-size: 0;
    margin: 0;
    display: block;
    padding: 0;
    position: static;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #1B2B3E;
    @media  (min-width: 40em) {
      padding: 0;
    }

    .about-copy {
      box-sizing: border-box;
      padding: 80px 40px 40px 40px;
      background-color: #fff;
      box-shadow: 0 35vh 0 0 #fff;
      display: inline-block;
      min-height: calc(100vh - 300px);
      p {
        font-size: 22px;
        line-height: 36px;
        font-weight: 200;
        padding: 0;
        margin: 0;
        opacity: .6;
        &:first-child {
          margin-bottom: 20px;
        }
      }
      a {
        font-size: 22px;
      }
      br {
        display: none;
      }
      @media  (min-width: 40em) {
        box-shadow: 35vw 0 0 0 #fff;
        width: 45%;
        vertical-align: top;
        padding: 16vw 40px 40px 120px;
        min-height: calc(100vh - 380px);
        br {
          display: block;
        }
      }
    }
    

  
  }
  .hero-text {
    z-index: 99;
    
    @media  (min-width: 40em) {
      left: 120px;
      position: absolute;
    }
    
    h2.intro {
        font-size: 10vw;
        line-height: 1.2em;
        margin: 0;
        color: #303F51;
        letter-spacing: -1.5px;
        position: relative;
        text-align: left;
        padding: 0 40px 0px 40px;
        
        top: -.7em;
        
        @media  (min-width: 40em) {
          font-size: 8vw;
          margin-left: 0px;
          text-align: left;
          padding: 0;
          left: -80px;
          span {
            -webkit-clip-path: polygon(0 .7em, 100% .7em, 100% 100%, 0% 100%);
            clip-path: polygon(0 .7em, 100% .7em, 100% 100%, 0% 100%);
            display: inherit;
            position: relative;
            left: -30px;
            padding-bottom: 20px;
            transition: all 200ms ease-in-out;
            opacity: 0;

          }
          &:before {
            content: "A Sun-Drenched";
            position: absolute;
            width: 100%;
            height: 100%;
            color: #303F51;
            z-index: -1;
            left: 40px;
            transition: all 200ms ease-in-out;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% .7em, 0 .7em);
            clip-path: polygon(0 0, 100% 0, 100% .7em, 0 .7em);
            opacity: 0;
            
          }
          
        }
        

    }
  }
  @media  (min-width: 40em) {
  .loaded-text .home-container h2.intro:before {
    left: 10px;
    opacity: 1;

  }

  .loaded-text .home-container h2.intro span {
    left: 0px;
    opacity: 1;
  }
  .loaded-text .home-container h2.intro:hover {
    
    &:before {
      left: 11px;
    }
    span {
      left: -1px;
    }
  }
}

  

  .divider {
    width: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: $blue;
    display: none;
  }






@keyframes water {
  0% {
    background-position: 0px 10px; 
  }
  50% {
    background-position: 35px 15px;
  } 
  100% {
    background-position: 70px 10px;
  }
}

@keyframes water-mobile {
  0% {
    background-position: 0px 5px; 
  }
  50% {
    background-position: 25px 10px;
  } 
  100% {
    background-position: 50px 5px;
  }
}


@keyframes pulse {
  0% {
    left: 3px;
    color: #fff;
    opacity: 1;
    
  }
  2% {
    left: 3px;
    color: #F6C7CA;
    opacity: 1;
  }
  3% {
    color: #fff;
    opacity: .5;
    left: -10px;
    
  }
  4% {
    left: -3px;
    opacity: 1;
    color: #fff;
  }
  5% {
    color: #fff;
  }

  100% {
    left: -3px;
    
  }
}