

.home-container {
  br {
      display: none;
      @media  (min-width: 40em) {
        display: block;
      }
  }
  padding: 0 20px;

  @media  (min-width: 40em) {
    padding: 0 100px;
  }
  
  .about {
    animation: hero 300ms 1;
    position: relative;
    p {
      font-size: 18px;
      line-height: 24px;
    }
    @media  (min-width: 40em) {
      font-size: 24px;
      font-weight: 200;
      line-height: 36px;
    }
  }

  h2.intro {
      font-size: 36px;
      line-height: 1.2;
      margin: 0 0 40px 0;
      color: #000;
      letter-spacing: -1.5px;
      animation: hero 300ms 1;
      position: relative;

      @media  (min-width: 40em) {
        font-size: 72px;
        margin: 0 0 80px 0;
        span {
          background-color: $blue;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAAAOCAYAAABevFBuAAABd0lEQVRYhd3YvUodQRjG8d/RgEZQxGCiCGkUS0GCd2CjhYggXoBFBCvBKIGQwkZBITaCFl5AEMRKm9xBCIKlaJEqGvEDBD9AWYs5ViKc1dk9Hv+w5TzPu8/OzDuzhSRJEi+PSxziL05xjHPU4x2a8BEf8LZMNT7Km3IXUOQCf/ATq7hKMbYWoxjBJ9RFry4lhTLO1AQ7mMF6RN0hfEcXChF1S6Ycod5gA+P4n6HPeyxhUM4rsipHrwssCvvisGwDVdQfLvotFv1zIY+ZeoRZ/MjYpxQm8BXNWZpkGeoevghL/aUxiHl0ZCEeO9QEvzGG7Yi6WdGNZfSI2NRihXqLTXzGvwh6edOKFfSj+rliz21UV8KXbsCAygyUUPeA8B7L0p2TH/DUmXqCBaEBvUaqMI1J4faWirSh7uIb1tIaVTAjwgWls9QBpYR6jC1MqdzlHYM2zKFP+P/wKPeh3j/XOMA+fgmb91mmpVYmjUJT7kU7WlAjnCAKd2vNajJcp0iXAAAAAElFTkSuQmCC);
          background-repeat: repeat-x; 
          background-size: 35px auto;
          background-position: center top;
          box-shadow: 0em -.25em 0 0 #fff inset;
        }
      }
  }

}

@keyframes hero {
  0% {
    opacity: 0;
    top: 40px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
