.work-container {
  padding-bottom: 40px;
  padding-top: 100px;
  z-index: 0;
  position: relative;

  
  
  @media  (min-width: 40em) {
    padding-top: 180px;
    margin: 0;
  }
}
.work-header {
  
  

    padding: 0px 40px 40px 40px;
    text-align: center;
    font-size: 36px;
    color: #fff;

  @media  (min-width: 40em) {
   padding: 40px 120px 120px 120px;
  text-align: left;
  font-size: 64px;
  }
  
}
.project {
  position: relative;
  padding: 0px; 
  background-color: $tan;
  padding-bottom: 0px;
  padding-top: 60px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: -40px;
  transition: all 200ms ease-in-out;
  
  @media  (min-width: 40em) {
      margin-left: 40px;
      margin-right: 40px;
    }


  .project-details {
    padding: 0 40px 40px 40px;
    text-align: left;
    opacity: 0;
    transition: all 200ms ease-in-out;
    h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 10px;
      padding: 0;
      
      display: block;
      span {
        font-weight: 100;
      }
    }

    a {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      color: $blue;
      padding-top: 20px;
      padding-bottom: 0px;
    }

    @media  (min-width: 40em) {

      padding: 0 100px 100px 100px;

      h2 {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }
  .project-images {
    overflow: hidden;
    padding-bottom: 0px;
    opacity: 0;

    img {
      width: 120%;
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 1200px;
      margin-left: -10%;
      transition: all 200ms ease-out;
      position: relative;
      transform: translateY(20px);
      @media  (min-width: 40em) {
        margin-left: auto;
        width: 100%;
      }
    }
    margin-bottom: 60px;
  }
}



.work-page {
  header {
    position: fixed;
    left: 0;
    top: 0;
    #work-link {
      a {
        box-shadow: 0em -1em 0 0 #fff inset; 
        color: #37577a;
      }
    }
  }
  &.load-img {
    .project-images {
      opacity: 1;
      img {
        transform: translateY(0px);
        
      }
    }
    .project-details {
      opacity: 1;
    }
  }
}